.login-container {
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/pictures/login_background.webp');
    background-color: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 10vw;


        mat-form-field {
            width: 400px;
        }

        .header {
            display: flex;
            flex-direction: column;
            gap: 32px;


            .title {
                font-size: 20px;
                font-weight: 600;
                color: var(--mat-sys-on-surface);
            }

            .logo {
                width: fit-content;
                height: 50px;
                object-fit: contain;
            }
        }

        .auth-error-messagge {
            display: flex;
            align-items: center;
            gap: 8px;
            color: #ff0000;
            margin-bottom: 20px;
        }

        .form-content {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        button {
            width: 50%;
            height: 45px;
            display: flex;
        }


    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        color: var(--mat-sys-on-surface);
    }

}