.toolbar-custom{
    background-color: #ffffff;
    box-shadow: 0 2px 6px #0000001f, inset 0 -1px #dadce0;
    display: flex;
    justify-content: space-between;
  
    .toolbar-content{
      display: flex;
      gap: 12px;
      align-items: center;
    }
  
  }
  .mat-mdc-row:hover {
    background-color: #f0f0f0; /* Or your desired hover color */
    cursor: pointer;
  }