// Base styles
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

}

.example-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0; // Important for flex children to respect overflow
    background: white;
}

.table-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: red;
}

:host ::ng-deep {

    tbody {
        tr {
            &:hover {
                background-color: #f1f1f1;
                cursor: pointer;
            }
        }
    }
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .search-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 25vh;
        width: 100%;
        transition: all 0.3s;

        .search-title {
            font-size: 2rem;
            font-weight: 600;
            margin: 0;
            transition: all 0.3s;
            display: unset;


            &.finded{
                display: none;
                transition: all 0.3s;
            }
        }
    
        .search-description {
            font-size: 1.2rem;
            margin: 0;
            margin-bottom: 40px;
            display: unset;

            &.finded{
                display: none;
                transition: all 0.3s;
            }
        }
        .search-input-container {
            width: 70%;
            display: flex;
            max-width: 800px;
            gap: 12px;
        
            & input {
                width: 100%;
                padding: 10px 30px;
                height: 32px;
                background-color: #f1f1f1;
                font-size: 1.2rem;
                border: none;
                outline: none;
                border-radius: 10px;
            }
        
            & button {
                background-color: #0468D7;
                color: #ffffff;
                // height: 100%;
                // font-size: 1.2rem;
                border: none;
                outline: none;
                border-radius: 50px;
                text-transform: uppercase;
                font-weight: 600;
                // padding: 0 26px;
        
            }
        
        }

        .table-container {
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
            margin-top: 40px;

            .status-sign{
                width: fit-content;
                padding: 0 10px;
                display: flex;
                align-items: center;
                font-weight: bold;
                color: white;
                justify-content: center;
                border-radius: 30px;
                text-transform: uppercase;


                &.active{
                    color: #11734B;
                    background-color: #D4EDBC;
                }

                &.not-active{
                    color: #B10202;
                    background-color: #FFCFC9;
                }
            }
        }

        .filter-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            width: 100%;
            max-width: 800px;

        }

        &.finded{
            margin-top: 20px !important;
            transition: all 0.3s;
        }
    }
}

