.splash-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    .logo {
        width: 80vw;
        max-width: 500px;
        object-fit: contain;
        animation: fadeIn 1s ease-in-out;
    }
}