<mat-list role="list">
    <mat-list-item role="listitem" routerLink="/main/tnt">
        <div class="list-item-content">
            <mat-icon>track_changes</mat-icon>
            <span>Track And Trace</span>
            <div class="pip-badge" routerLinkActive="active"></div>
        </div>
    </mat-list-item>
    <mat-list-item role="listitem" routerLink="/main/eployees">
        <div class="list-item-content">
            <mat-icon>people</mat-icon>
            <span>Empleados</span>
            <div routerLinkActive="active"></div>
        </div>
    </mat-list-item>
</mat-list>

