.list-item-content {
  display: flex;
  align-items: center;
  gap: 10px;

  mat-icon {
    margin-left: 12px;
  }

  .active {
    position: absolute;
    margin: auto 0;
    top: calc(50% - 14px);
    left: 0px;
    width: 6px;
    height: 28px;
    background-color: #0468D7;
    z-index: 10;
  }

}