
.example-container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0; // Important for flex children to respect overflow
    background: white;
}

// Base styles
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.app-content {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    min-height: 0; // Important for flex children to respect overflow

    .table-container{
      width: 100%;
      max-width: 1600px;
      margin: 0 auto;

      tr{
        &:hover {
          background-color: #f1f1f1;
          cursor: pointer;
        }
      }

    }
}



