<div class="add-pdf-container">
  <h1>Agregar seguimiento</h1>
  <form class="example-form" [formGroup]="form">
    <!-- CD EMPLOYEE -->

    <mat-form-field class="example-full-width">
      <mat-label>Nombre del empleado</mat-label>
      <input type="text" matInput formControlName="cdEmployee" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- cd number -->
    <mat-form-field>
      <mat-label>Numero de CD</mat-label>
      <input matInput formControlName="cdNumber" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha de emisión</mat-label>
      <input matInput type="date" formControlName="emissionDate" (paste)="onDatePaste($event)" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Observacion</mat-label>
      <input matInput formControlName="obs" />
    </mat-form-field>
  </form>

  @if (pdfPath()) {
  <div class="pdf-path-container">
    <p class="pdf-path-label">PDF cargado: {{ pdfPath() }}</p>
    <button matButton (click)="removePDF()">Eliminar</button>
  </div>
  } @else {
  <button matButton (click)="addPDF()">Cargar PDF</button>
  }
  <button matButton="filled" (click)="saveCd()" [disabled]="form.invalid || pdfPath().length === 0">Agregar</button>
</div>