.status-chip-container{
    width: fit-content;
    padding: 0 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
    justify-content: center;
    text-transform: uppercase;
    
    &.success{
        background-color: #D4EDBC;
        color: #11735D;
    }
    &.error{
        background-color: #FFCFC9;
        color: #B10202;
    }
    &.no-status-pending{
        background-color: #F0F0F0;
        color: #808080;
    }
    
}
