.app-titlebar {
    width: 100%;
    height: 40px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: drag;

    &.fullscreen{
        position: absolute;
        background-color: transparent;
    }
}