.app-container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-y: auto;

  .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  .track-and-trace-result {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}

tr {
  width: 100%;
}